@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 142.4 100% 95%;
  --foreground: 142.4 5% 0%;
  --card: 142.4 50% 90%;
  --card-foreground: 142.4 5% 10%;
  --popover: 142.4 100% 95%;
  --popover-foreground: 142.4 100% 0%;
  --primary: 142.4 71.8% 29.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.4 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 104.4 30% 85%;
  --muted-foreground: 142.4 5% 35%;
  --accent: 104.4 30% 80%;
  --accent-foreground: 142.4 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 142.4 5% 90%;
  --border: 142.4 30% 50%;
  --input: 142.4 30% 18%;
  --ring: 142.4 71.8% 29.2%;
  --radius: 0.75rem;
}
.dark {
  --background: 142.4 50% 5%;
  --foreground: 142.4 5% 90%;
  --card: 142.4 50% 0%;
  --card-foreground: 142.4 5% 90%;
  --popover: 142.4 50% 5%;
  --popover-foreground: 142.4 5% 90%;
  --primary: 142.4 71.8% 29.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.4 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.4 30% 15%;
  --muted-foreground: 142.4 5% 60%;
  --accent: 104.4 30% 15%;
  --accent-foreground: 142.4 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 142.4 5% 90%;
  --border: 142.4 30% 18%;
  --input: 142.4 30% 18%;
  --ring: 142.4 71.8% 29.2%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "EB Garamond", sans-serif;
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(147, 249, 185, 0.2),
    /* 80% opacity */ rgba(29, 151, 108, 0.2) /* 80% opacity */
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(147, 249, 185, 0.2),
    /* 80% opacity */ rgba(29, 151, 108, 0.2) /* 80% opacity */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cards {
  background: rgba(189, 255, 243, 0.1); /* Light cyan with 20% opacity */
  background: -webkit-linear-gradient(
    to right,
    rgba(189, 255, 243, 0.1),
    /* Light cyan with 20% opacity */ rgba(74, 194, 154, 0.1)
      /* Light green with 20% opacity */
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(189, 255, 243, 0.1),
    /* Light cyan with 20% opacity */ rgba(74, 194, 154, 0.1)
      /* Light green with 20% opacity */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
