@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220.9 100% 95%;
  --foreground: 220.9 5% 0%;
  --card: 220.9 50% 90%;
  --card-foreground: 220.9 5% 10%;
  --popover: 220.9 100% 95%;
  --popover-foreground: 220.9 100% 0%;
  --primary: 220.9 39.3% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220.9 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 182.9 30% 85%;
  --muted-foreground: 220.9 5% 35%;
  --accent: 182.9 30% 80%;
  --accent-foreground: 220.9 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 220.9 5% 90%;
  --border: 220.9 30% 50%;
  --input: 220.9 30% 18%;
  --ring: 220.9 39.3% 11%;
  --radius: 0.3rem;
}
.dark {
  --background: 220.9 50% 5%;
  --foreground: 220.9 5% 90%;
  --card: 220.9 50% 0%;
  --card-foreground: 220.9 5% 90%;
  --popover: 220.9 50% 5%;
  --popover-foreground: 220.9 5% 90%;
  --primary: 220.9 39.3% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220.9 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 182.9 30% 15%;
  --muted-foreground: 220.9 5% 60%;
  --accent: 182.9 30% 15%;
  --accent-foreground: 220.9 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 220.9 5% 90%;
  --border: 220.9 30% 18%;
  --input: 220.9 30% 18%;
  --ring: 220.9 39.3% 11%;
  --radius: 0.3rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "PT Sans", sans-serif;
  background: white !important;
}

.cards {
  background: rgba(189, 255, 243, 0.1);
  background: -webkit-linear-gradient(
    to right,
    rgba(189, 255, 243, 0.1),
    rgba(74, 194, 154, 0.1)
  );
  background: linear-gradient(
    to right,
    rgba(189, 255, 243, 0.1),
    rgba(74, 194, 154, 0.1)
  );
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.scrollbar-width-none {
  scrollbar-width: none;
}
